body{
    background:grey;
}

.flexbox{
    display:flex;
    justify-content: center;
    align-items : center;
    background-color:darkgrey;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 100px 200px 100px;
}

.article{
    width:clamp(200px, 50%, 600px);
}

/* @media only screen and (max-width: 600px) {
    .article {
        width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .article {
        width: 800px;
    }
} */